:host {
    display: inline-block;
}

.main {
    padding: 10px;
}

    .main .icon {
        width: 50px;
        height: 50px;
        background-image: url('frauenkirche.png');
        float:left;
    }

    .main .text {
        float:left;
    }
